<footer class="container-fluid" id="foot">
    <div class="row">
        <div class="col-12">
            <div class="footer-links">
                {% if request.user.is_authenticated %}
                <a href="{% url 'user_app:logout' %}" class="footer-link">Logout</a>
                {% endif %}
                <a href="#" class="footer-link">Menu</a>
                <a href="#" class="footer-link">Contact</a>
                <a href="#" class="footer-link">About Us</a>
                <a href="{% url 'foodtruckapp:whereami' %}" class="footer-link">Where Am I?</a>
            </div>
        </div>
        <div class="col-12">
            <p class="footer-copyright">
                &copy; {% now "Y" %} Not Quite Hawaiian Food Truck. All rights reserved.
            </p>
        </div>
    </div>
</footer>
