<div>
    <nav class="navbar navbar-expand-sm m-0 p-0" id="fixed-nav">
        <div class="container-fluid px-3">
            <a class="navbar-brand" href="{% url 'user_app:base' %}">
                <img class="p-0 m-0" src="{% static 'images/pig_logo-final.png' %}" width="48px" alt="Not Quite Hawaiian Food Truck logo">
            </a>

            <button class="navbar-toggler navbar-dark border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbar-dark"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-0 py-0 px-2 gap-1 align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'foodtruckapp:whereami' %}">Find Us</a>
                    </li>

                    {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_app:login' %}">Login</a>
                    </li>
                    <li class="nav-item ms-1">
                        <a class="btn btn-gold btn-sm" href="{% url 'user_app:register' %}">Sign Up</a>
                    </li>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_app:profile' request.user %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_app:logout' %}">Logout</a>
                    </li>
                    {% endif %}

                    {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'foodtruckapp:display' %}">Display</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'foodtruckapp:controller' %}">Controller</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
